*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background-color: #fff;
}

.header{
    max-width: 950px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 50px;
    margin-bottom: 50px;
}
 
.navigation{
    display: flex;

    justify-content: space-between;
    align-content: center;
    align-items: center;
    
}

.title-article{
    width: 95%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;
}

 #show{
    border-radius: 8px;

    padding: 10px;

    background-color:  rgba(12, 147, 151, 0.63);
    margin-left: 10px;

    cursor: pointer;

    transition: .17s ease-in-out;
}

 #show:hover{
    background-color: rgba(12, 147, 151, 0.7);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

 #close .xis{
    position: relative;

    height: 30px;
    width: 30px;

    background: red;
    border-radius: 50%;

    cursor: pointer;

    transition: .17s ease-in-out;
}

#close .xis:hover{
    background-color: rgb(201, 6, 6);

    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.xis:after {
    content: "";

    position: absolute;
    top: 47%;
    left: 15%;

    width: 70%;
    height: 8%;

    background-color: #fff;

    border-radius: 20px;

    transform: rotate(225deg);

    transition: 1s ease-in-out;

}
.xis:before {
    content: "";

    position: absolute;
    top: 47%;
    left: 15%;

    width: 70%;
    height: 8%;

    background-color: #fff;

    border-radius: 20px;

    transform: rotate(-410deg);

    transition: .2s ease-in-out;

}


.header h1{
    padding: 5px;
    font-size: 1.5rem;
}

.graphics{
    max-width: 950px;
    margin: 0 auto;


    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    
}

.graphics .card{
    width: 440px;

    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: thin solid  rgba(4, 176, 182, 0.59);

    border-radius: 20px 0;

    overflow: hidden;

    margin: 0 10px 40px 5px;

    transition: .17s ease-in-out;

}

.graphics .card:hover{
    transform: translateY(-3px);
    
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.graphics .card .graphic-content{
    display: flex;
    justify-content: space-around;
}
.graphics .card-final{
    width: 540px;
}


.graphics .card .title{
    width: 100%;
    height: 30px;

    padding: 0 25px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(12, 147, 151, 0.63);

    cursor: pointer;

}

.graphics .card .title:hover{
    background-color: rgba(12, 147, 151, 0.7);
}

.graphics .card-final .title{
    cursor: auto;
}

.graphics .card .title h4{
    text-transform: uppercase;
}

.graphics .card .graphic-content {
    transition: .17s ease-in-out;
}




